{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row content">
            {% for message in app.flashes('notice') %}
                <div class='alert alert-info'>
                    {{ message }}
                </div>
            {% endfor %}
            <h2>List Category</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th> Action </th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories  %}
                    <tr>
                        <td>{{ categorie.name }}</td>
                        <td>
                            <a class="btn btn-primary" style="margin-top: 0px !important;" href="{{ url('editcategory', {'categoryId': categorie.id  }) }}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
                            <a class="btn btn-danger" style="margin-top: 0px !important;" href="{{ url('delete', {'id': categorie.id  }) }}"><span class="glyphicon glyphicon-remove"></span>Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="starter-template">
                <h1>Create category</h1>
            </div>
            <ul class="well">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder':'Name category'}}) }}
                {{ form_row(form.save, {'attr': {'class': 'btn btn-success'}})|raw }}
                {{ form_end(form) }}
            </ul>
        </div>
    </div>
{% endblock %}